.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.buttons {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  row-gap: 20px;
}
